<div id='note-container'>
  <div id='vex-target'>
  </div>
</div>
<label>Notes per second
</label>
<mat-slider [(value)]="nps" thumbLabel tickInterval="10" step=".1" min="0" max="10"></mat-slider>
<label>Note speed
  <mat-slider [(value)]="speed" thumbLabel tickInterval="10" step=".1" min="0" max="10"></mat-slider>
</label>  
<span>Accuracy: {{100 * success/((fail+success)||1)}}%</span>
<mat-form-field appearance="fill">
  <mat-label>Clef</mat-label>
  <mat-select (selectionChange)="reset()" [(value)]="clef">
    <mat-option *ngFor="let clef of clefs" [value]="clef">
      {{clef}}
    </mat-option>
  </mat-select>
</mat-form-field>
<midi-connection style="float:right; margin-right: 16px"></midi-connection>
<mat-progress-bar mode="determinate" style="height:30px" value="{{progress}}"></mat-progress-bar>

