<div id='note-container'>
  <div id='vex-target'>
  </div>
</div>
<label>Notes per second
  <mat-slider [(value)]="nps" thumbLabel tickInterval="10" step=".1" min="0" max="10"></mat-slider>
</label>
<label>Note speed
  <mat-slider [(value)]="speed" thumbLabel tickInterval="10" step=".1" min="0" max="10"></mat-slider>
</label>  
<midi-connection></midi-connection>
<span>Accuracy: {{100 * success/((fail+success)||1)}}%</span>
<mat-progress-bar mode="determinate" style="height:30px" value="{{progress}}"></mat-progress-bar>

